{% extends 'todoApp/base.html' %}


{% block content %}
<body>
    <br> <br>
<div class="container bg-light shadow-md p-5 form-layout">
    <h2 class="text-center">Create an account</h2>
    <p class="text-center"><i>Start keeping records!</i></p>
    <hr>
    <br>

{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{form.username|as_crispy_field}}
    <br>
    {{form.password1|as_crispy_field}}
    <br>
    {{form.password2|as_crispy_field}}
    <br>

    <button type="submit" class="btn btn-primary w-100 p-2 btn-block">Sign up</button>
</form>
<br>
<p class="text-center">Aready have an account?</p>
<p class="text-center"><a href="{% url 'my-login' %}">Login</a></p>
</div>
</body>

{% endblock %}